.header {
	width: 100%;
	height: 70px;
	background-color: #337ab7;
	text-align: center;
	font-weight: 200;
	letter-spacing: 20;
}

.header-title {
	font-size: 45px;
	color: white;
	text-transform: uppercase;
}

.btn-custom {
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 200;
	letter-spacing: 5;
}
