.table-view-btn {
	text-transform: uppercase;
	font-size: 12px;
	background-color: #155671;
	border: 1px solid #155671;
	height: 35;
	width: 100;
}

.table-view-btn:hover {
	background-color: white;
	border: 1px solid #006666;
	color: black;
}

#update-properties-table {
	margin-left: 50px;
	width: 1100px;
}

#table-search-input {
	margin-left: 50px;
	width: 1100px;
}

.table-flag {
	font-size: 10;
	width: 145px;
	padding: 0px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.table-flag-verified {
	background-color: #609f60;
	border-color: #609f60;
}
.table-flag-verified:hover {
	background-color: #609f60;
	border-color: #609f60;
	cursor: default !important;
}

.table-flag-unverified {
	background-color: #b22222;
	border-color: #b22222;
}
.table-flag-unverified:hover {
	background-color: #b22222;
	border-color: #b22222;
	cursor: default !important;
}

.affordability-info-flag {
	margin-top: 5px;
}

